# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
*.eggs/
dist/
build/
*.log

# Virtual environments
.env
.venv
env/
venv/
ENV/
.envrc

# Django migrations cache
migrations/

# SQLite database
*.sqlite*

# Jupyter Notebooks
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db

# dbt
target/
dbt_packages/
logs/
profiles.yml

# IDEs
.vscode/
.idea/
*.swp
*.swo
