# ======================================================
# elevata - Metadata-driven Data Platform Framework
# Copyright © 2025 Ilona Tag
#
# SPDX-License-Identifier: AGPL-3.0-only
#
# This file defines example environment variables for elevata.
# It is not code, but part of the build and configuration setup.
# ======================================================

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
*.eggs/
dist/
build/
*.log

# Virtual environments and environment files
.env
.venv
env/
venv/
ENV/
.envrc
elevata_profiles.y*

# Django migrations cache
migrations/

# SQLite database
*.sqlite*

# Jupyter Notebooks
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db

# dbt
target/
dbt_packages/
logs/
profiles.yml

# IDEs
.vscode/
.idea/
*.swp
*.swo
